:root {
  --color-tomato: hsl(4, 100%, 67%);
  --color-tomato-light: #ffe8e6;
  --color-orange: #fe6942;
  --color-dark-slate-grey: hsl(234, 29%, 20%);
  --color-charcoal-grey: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-charcoal-grey);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.btn {
  color: var(--color-white);
  padding: 1.6rem 2rem;
  display: block;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  background: var(--color-dark-slate-grey);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: linear-gradient(135deg, var(--color-tomato), var(--color-orange));
}

.newsletter {
  min-height: 100vh;
  max-width: 90rem;
  display: flex;
  flex-direction: column;
}

.newsletter__illustration-container {
}

.newsletter_illustration {
  width: 100%;
}

.newsletter__content {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.primary-heading {
  font-size: 4rem;
  line-height: 1;
  color: var(--color-dark-slate-grey);
}

.newsletter__list {
  list-style-image: url("assets/images/icon-list.svg");
  list-style-position: inside;
}

.newsletter__email {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

.newsletter__email label,
.newsletter__email-validation-text {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-dark-slate-grey);
}

.newsletter__email-validation-text {
  text-align: right;
  color: currentColor;
}

.newsletter__email input {
  grid-column: span 2;
  display: block;
  width: 100%;
  padding: 1.6rem;
  border: 1px solid var(--color-grey);
  border-radius: 7px;
  outline: none;
  color: inherit;
}

.newsletter__email.valid {
  color: green;
}
.newsletter__email.valid input {
  border: 1px solid currentColor;
}
.newsletter__email.invalid {
  color: var(--color-tomato);
}
.newsletter__email.invalid input {
  border: 1px solid currentColor;
  background-color: var(--color-tomato-light);
}

.success-message {
  height: 100vh;
  padding: 5rem 2rem;

  display: flex;
  flex-direction: column;
}

.success-message div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  flex-grow: 1;
}

.success-message__icon {
  width: 6rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 48em) {
  body {
    background-color: var(--color-dark-slate-grey);
  }

  .newsletter {
    min-height: auto;
    max-height: 80rem;
    flex-direction: row;
    background-color: var(--color-white);
    padding: 2rem;
    border-radius: 20px;
  }

  .newsletter__content {
    order: 0;
    padding: 5rem;
    padding-right: 8rem;
  }

  .newsletter__illustration-container {
    order: 1;
  }

  .success-message {
    background-color: var(--color-white);
    max-width: 40rem;
    min-height: 40rem;
    height: auto;
    border-radius: 20px;
    padding: 3rem;
  }

  .success-message .btn {
    margin-top: 3rem;
  }
}
